<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>The Home Page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, est dolorem totam iure nostrum corrupti tempore aspernatur cupiditate quas possimus nulla rerum ea perspiciatis hic incidunt ut. Consequatur, nam minus.</p>
    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem nesciunt officiis reprehenderit modi laboriosam, sequi exercitationem est cumque ut iste illo consequuntur, architecto natus provident voluptas obcaecati quis, quisquam voluptatem.</p>
</body>
</html>


//mkdir in the project folder named "views"
//touch views/home.ejs (makes file inside of views folder)